:root {
  --main-text-color: #333231;
  --dark-bg-color: #293146;

  /* left menu start */
  --left-menu-border-color: '#eee';

  --left-menu-max-width: 276px;

  --left-menu-min-width: 64px;

  --left-menu-bg-color: #001529;

  --left-menu-bg-light-color: #0f2438;

  --left-menu-bg-active-color: var(--el-color-primary);
  --el-button-disabled-bg-color: #c2c2c2;
  --left-menu-text-color: #bfcbd9;

  --left-menu-text-active-color: #fff;

  --left-menu-collapse-bg-active-color: var(--el-color-primary);
  --left-menu-collapse-bg-hover-color: #ffeeef;
  /* left menu end */

  /* logo start */
  --logo-height: 50px;

  --logo-title-text-color: #fff;

  --logo-border-color: 'inherit';
  /* logo end */

  /* header start */
  --top-header-bg-color: '#fff';

  --top-header-text-color: 'inherit';

  --top-header-hover-color: rgba(255, 255, 255, 0.2);

  --top-tool-height: var(--logo-height);

  --top-tool-p-x: 0;

  --top-tool-border-color: #eee;

  --tags-view-height: 35px;

  --tags-view-border-color: #eee;
  /* header start */

  /* tab menu start */
  --tab-menu-max-width: 80px;

  --tab-menu-min-width: 30px;

  --tab-menu-collapse-height: 36px;

  --tab-menu-border-color: #eee;
  /* tab menu end */

  --app-content-padding: 20px;

  --app-content-bg-color: #fff;

  --app-footer-height: 50px;

  --transition-time-02: 0.2s;
  --el-button-active-color: #ffbf66;
  --el-button-hover-bg-color: #ffbf66;
  --el-text-color-regular: #666462;
  --el-button-disabled-text-color: #fff;
  --el-border-color: #ebe9e6;
  --el-color-primary-dark-2: #ffbf66;
  --el-color-primary-light-3: #ff9500;
  --el-color-primary-light-5: #ffe1b8;
  --el-color-primary-light-7: #ebe9e6;
  --el-color-primary-light-9: #fff;

  --el-table-border-color: #f5f3f0;
  /* 评分 已选中的颜色 */
  --el-rate-fill-color: #ff9500;
}
